<div class="cardStyle2"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cloudinary_pic(venue) %>')">
    <li><%= link_to venue.name, venue_path(venue) %><%= link_to "ðŸ—‘ï¸" , venue_path(venue),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} , class:"btn btn-danger" %></li>
  </div>