<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Sols777">Sols777<i class="fab fa-github"></i></a>
    <a href="https://github.com/DNunes8">DNunes8<i class="fab fa-github"></i></a>
    <a href="https://github.com/PeteTaylorson">PeteTaylorson<i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This project was made by <i class="fa-solid fa-people-group"></i> <strong>THE DEVBRAWL TEAM</strong>
  </div>
</div>
