<div class="banner">
  <div class="container">
    <h1>Discover the best <strong>RAVES</strong></h1>
    <p>Ever wanted to party in a Coal Mine? Join members like Pete and party until the Secret Services shots us down.</p>
  </div>
  <%= render "shared/search-box"%>
</div>
<h2 id="h2-home">Check all venues locations here!</h2>
<div class="home-container d-flex">
  <div class="">
    <div class="home-map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
  <div class="card-home">
    <% @venues.each do |venue| %>
      <div><%= render "card_home", venue: venue %></div>
    <% end %>
  </div>
</div>
