<div class="venues-page-container">
  <div class="card-container">
    <% @venues.each do |venue| %>
      <%= render "shared/card", venue: venue %>
    <% end %>
  </div>
  <div class="map-box">
    <div class="fixed-map" data-controller="map" 
         data-map-markers-value="<%= @markers.to_json %>" 
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <!-- Map will be rendered here -->
    </div>
  </div>
</div>
