<div class="">
  <h1 id="h1index">Venues</h1>
  <%= render "shared/search-box"%>
  <div class="d-flex cardVenue">
    <% @venues.each do |venue| %>
      <div class="div"><%= render "shared/card", venue: venue %></div>
    <% end %>
  </div>
</div>
