.banner {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), image-url('Background.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    padding: 300px 0;
    color: white;
    text-align: center;
  }

  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
    padding: 40px;
    font-family: 'Audiowide', sans-serif;
  }

  .banner p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .map {
    width: 65%;
    height: 450px;
  }
