.cardStyle {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 10px 10px 15px -15px rgba(0,0,0,0.62);
    height: 350px;
    width: 300px;
    margin: 10px;
    position: relative;
    transition: all 0.4s;
    overflow: hidden;
  
    &:hover {
      transform: scale(1.02);
    }
  
    li {
      list-style: none;
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
    }
  
    .btn-danger {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  
  // If your cards are within a container, you may want to add:
  .content:hover .cardStyle:not(:hover) {
    opacity: 0.5;
    transform: scale(0.9);
  }
  