.map-container{
  width: 30%;
  height: 1000px;
}


.card-container{
  width: 70%;
  padding: 0 50px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  overflow-y: auto;
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.venues-page-container {
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: row;
}
