.map-box {
  position: fixed;
  top: 60px;
  right: 0;
  width: 30vw;
  height: 30vw;
  z-index: 10;
  margin-right: 50px;
}

.fixed-map {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.home-map{
  height: 600px;
  width: 600px;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 12px;
}

.navbar {
  position: relative;
  z-index: 1000;
}


.map-show{
  width: 100%;
  height: 400px;
  margin: 3px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 12px;
}
