.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


.home-map{
  height: 600px;
  width: 600px;
  margin: 10px auto;
}


.map-show{
  width: 100%;
  height: 400px;
  margin: 3px auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 12px;
}
