.navbar-lewagon {
  animation: discoColors 2s infinite;
}

.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to right, #D0410D, #6C2910);
  .navbar-brand img {
    margin-left: 15px;
    width: 50px;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
}

.remove-text-decor{
  text-align: center;
  a{
    text-decoration: none;
    color:rgb(231, 231, 231);
    &:hover {
      transform: scale(1.05);
    }
  }
}
