.venue-details {
  max-width: 1200px; /* Adjusted for wider layout */
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space out the child elements */
  flex-wrap: wrap; /* Allow items to wrap as needed */

  h2 {
      width: 100%; /* Full width */
      font-size: 2.5em;
      margin-bottom: 0.5em;
      text-align: center;
  }

  .photo-container, .details-container {
      flex-basis: 48%; /* Adjust this value as needed */
      height: auto; /* Or set a fixed height */
  }

  img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 20px;
  }

  .map-container {
      width: 100%; /* Takes the full width of the parent .details-container */
      height: 300px;
      margin-bottom: 20px;
  }

  .btn {
      display: block;
      width: auto; /* Adjust this to not be full width of the container */
      margin-bottom: 10px;
  }
}
