.venue-details {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h2 {
      width: 100%;
      font-size: 2.5em;
      margin-bottom: 0.5em;
      text-align: center;
  }

  .photo-container, .details-container {
      flex-basis: 48%;
      height: auto;
  }

  img {
      width: 100%;
      border-radius: 8px;
      margin-bottom: 20px;
  }

  .map-container {
      width: 100%;
      height: 300px;
      margin-bottom: 20px;
  }

  .btn {
      display: block;
      width: auto;
      margin-bottom: 10px;
  }
}
